$dashboard-bg-color: #00000033;
$dashboard-border-radius: 16px;

$font-family: "Tektur", sans-serif;
$font-size-base: 14px;
$font-weight-base: 500;

$white: #ffffff;
$black: #000000;

$shadow-offset: 0px 1px 3px 0px;
$shadow-color: rgba(255, 255, 255, 0.22);

$progress-bar-height: 9px;
$progress-bar-border-radius: 16px;

$resource-image-width: 48px;
$resource-image-height: 48px;

$robot-image-width: 32px;
$robot-image-height: 32px;
